<ul>
{{#list}}
<li>< href="?senape-form-site={{#url.enc}}{{item}}">{{/url.enc}}">{{item}}</a></li>
</li>
{{/list}}
{{^list}}
{{no-site}}
{{/list}}
</ul>

<form method="post" id="form-temporary" action = "{{form-action}}" class="senape-add-comment">
</form>
