<form method="post" id="form-temporary" action = "{{form-action}}" class="senape-add-comment">
    <p>
        {{#has-labels}}<label class="senape-label-for-input">{{#i18n.tr}}Name{{/i18n.tr}}{{/has-labels}}</label>
    </p>
    <p>
        <input type="submit" name="senape-form[add-site]" value="{{#i18n.tr}}Add Site{{/i18n.tr}}">
    </p>
    <input type="hidden" name="senape-page-current" value="{{page-current}}">
    <input type="hidden" name="senape-controller" value="site">
    <input type="hidden" name="senape-action" value="add">
</form>

<ul>
{{#list}}
<li>< href="?senape-form-comment={{id}}">{{date}}</a> {{comment}}</li>
{{/list}}
{{^list}}
<li>{{#i18n.tr}}No comments yet{{/i18n.tr}}</li>
{{/list}}
</ul>
